<footer class="site-footer">
    <div class="footer-copyright"> © 2010-2016 FraudLens. All Rights Reserved.</div>
    <div class="footer-links"><a href="http://nginx.fraudlens.com/index.php?Action=fds.faq" title="FAQ">FAQ</a>
        <!--<a href="http://nginx.fraudlens.com/index.php?Action=fds.linkedin" title="linkedin">linkedin</a>-->
        <!--<a href="http://nginx.fraudlens.com/index.php?Action=fds.contactus" title="Contact us">Contact Us</a>-->
        <a href="http://nginx.fraudlens.com/index.php?Action=fds.privacy_policy" title="Privacy Policy">Privacy
            Policy</a> <a href="" title="Terms and Conditions" id="t_and_c_click">Terms and Conditions</a>
    </div>
</footer>