<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.FULL_SERIES_XRAYS">
    <full-series-list></full-series-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.PATIENT_IN_CHAIR">
    <patient-in-chair-list></patient-in-chair-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.CROWN_BUILD_UP">
    <crown-buildup-list></crown-buildup-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.DOCTOR_WITH_PATIENT">
    <doctor-with-patient-list></doctor-with-patient-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.MULTI_DOCTOR">
    <multiple-doctor-list></multiple-doctor-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.OVERREACTIVE">
    <over-active-list></over-active-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.COMPREHENSIVE_PERIODONTAL_EXAM">
    <comprehensive-perio-exam-list></comprehensive-perio-exam-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.PERIODONTAL_MAINTENANCE_VS_PROPHY">
    <perio-maintenance-vs-prophy-list></perio-maintenance-vs-prophy-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.PERIODONTAL_SCALING_VS_PROPHY">
    <perio-scaling-vs-prophy-list></perio-scaling-vs-prophy-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.THIRD_MOLAR_EXTRACTION">
    <third-molar-extraction-list></third-molar-extraction-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.PRIMARY_TOOTH_EXTRACTION">
    <primary-tooth-extraction-list></primary-tooth-extraction-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.RATIO_SIMPLE_TO_COMPLEX_COMPLEX_EXTRACTION">
    <ratio-se-to-ce-list></ratio-se-to-ce-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.UNJUSTIFIED_SURGICAL_EXTEACTION">
    <unjustified-surgical-extraction-list></unjustified-surgical-extraction-list>
</div>

<div class="main-content" *ngIf="vlService.vlRequest.sectionId == algos.IMPOSSIBLE_AGES">
    <impossible-ages-list></impossible-ages-list>
</div>